@page
@model OpenIDSample.Pages.ConsentModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consent</title>
</head>
<body>

</body>
</html>
