@page
@model OpenIDSample.Pages.LoginModel
@{
    Layout = null;
}
@using OpenIDSample
@namespace OpenIDSample.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post">
        用户名：<input type="text" name="userName" value="aaaa" />  
        密码：<input type="password" name="pwd" value="aaaa" />
        <button>登陆</button>
    </form>
</body>
</html>
