@page
@model Ids4Sample.Pages.LoginModel
@{
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <h1>Login!</h1>
    <form method="post">
        用户名：<input type="text" name="userName" value="aaa" />
        密码：<input type="password" name="userPwd" value="pwd" />
        <button>登录</button>
    </form>
</body>
</html>