@page
@model CookieSample2.Pages.Admin.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>管理员可以访问的页面。</h1>
</body>
</html>
